<div class="row">
  <div class="col-md-12">
    {{#ui/ui-box}}
      {{#block-slot 'content'}}
        <div class="row">
          <div class="col-md-9">
            {{#bs-form onSubmit=(action "submit") formLayout="inline" model=recordQuery as |form|}}
              {{yield form}}
              {{bs-button defaultText="Filter" type="primary" buttonType="submit"}}
            {{/bs-form}}
          </div>
        </div>
      {{/block-slot}}
    {{/ui/ui-box}}
  </div>
</div>

