<div class="row">
  <div class="col-md-12">
    {{#ui/ui-box}}
      {{#block-slot 'content'}}
        <div class="row">
          <div class="col-md-12">
            {{#bs-form onSubmit=(action "submit") formLayout="inline" model=recordQuery as |form|}}
              {{yield form}}
              <div class="filter-form-actions">
                {{#if hasFiltered }}
                  <a href="#" class="btn btn-secondary" {{action "reset"}}>
                    {{fa-icon "times"}}
                  </a>
                {{/if}}

                {{bs-button defaultText="Filter" type="primary" buttonType="submit"}}
              </div>

            {{/bs-form}}
          </div>
        </div>
      {{/block-slot}}
    {{/ui/ui-box}}
  </div>
</div>

