{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Ember Junk-Drawer</a>
  </div>
{{/bs-navbar}}
<div class="row content">
  <div class="offset-md-2 col-md-8">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#list-groups">List Groups</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div>
          <h2 id="list-groups">List Groups</h2>
          {{#bs/list-group as |g|}}
            {{g.item text="inline text"}}
            {{#g.item tagName="div" active=isActive disabled=isDisabled type="danger"}}
              Blocks work too, with custom properties!
            {{/g.item}}
            {{#g.action onClick=(action "myAction")}}
              Clickable as a button
            {{/g.action}}
          {{/bs/list-group}}
        </div>
        <div>
          <h2 id="Confim Button">Confirm Button</h2>
          {{#confirm-button
            modalTitle="Titular Modal"
            buttonText="Click Me"
            onSubmit=(action "logStuff")
            onCancel=(action "alertStuff")
          }}
            This is the text that goes into the modal.

          {{/confirm-button}}
        </div>
      </div>
    </div>
  </div>
</div>
