{{yield (hash
          filter=(component 'table/table/table-filter'
            parentComponent=this
          )
        )}}

<div class="row">
  <div class="col-md-12">
    {{#ui/ui-box as |b|}}
      {{#b.body classNames="no-padding"}}
        {{#if table }}
          {{#light-table table class="table" height='65vh' as |t|}}
            {{t.head
              onColumnClick=(action 'onColumnClick')
              iconAscending='fa fa-sort-asc'
              iconDescending='fa fa-sort-desc'
              fixed=true
            }}

            {{#t.body
              canSelect=false
              expandOnClick=false

              onScrolledToBottom=(action 'onScrolledToBottom')
            as |body|
            }}

              {{#if isLoading}}
                {{#body.loader}}
                  {{table/table-loader}}
                {{/body.loader}}
              {{/if}}
            {{/t.body}}

          {{/light-table}}
        {{/if}}
      {{/b.body}}
    {{/ui/ui-box}}
  </div>
</div>
